BasedOnStyle: LLVM
IndentWidth: 4
TabWidth: 4
UseTab: Never
PointerAlignment: Left

BreakBeforeBraces: Allman
AllowShortIfStatementsOnASingleLine: WithoutElse
AllowShortLoopsOnASingleLine: true
AccessModifierOffset: -4
BreakAfterReturnType: TopLevel
