* {
  border: none;
  border-radius: 0;
  min-height: 0;
  /* font-family: "Iosevka Term"; */
  font-family: "TX-02";
  font-size: 18px;
  padding: 0;
}

window#waybar {
  background: #000000;
  color: #DDDDDD;
}

tooltip {
  background-color: #000000;
}

#custom-uptime,
#clock,
#language,
#cpu,
#memory,
#network,
#pulseaudio,
#backlight,
#battery,
#custom-music {
  margin: 2px 2px 0px 0px;
  padding: 2px 2px;
}

#workspaces {
  margin: 2px 20px 0px 0px;
  padding: 2px 2px;
}
#workspaces button {
  color: #DDDDDD;
}


 #workspaces button.focused {
   background-color: #DDDDDD;
   color: #000000;
 }

 #workspaces button.active {
   background-color: #DDDDDD;
   color: #000000;
 }

#battery, #clock, #cpu, #pulseaudio, #memory, #language, #network, #backlight, #custom-music {
  color: #DDDDDD;
}

#network.disconnected {
  color: #DDDDDD;
}

#battery.charging {
  color: #DDDDDD;
}

#battery.warning:not(.charging) {
  color: #DDDDDD;
}

#bluetooth {
  color: #DDDDDD;
  font-size: 16px;
}

#bluetooth.on {
  color: #DDDDDD;
}

#bluetooth.connected {
  color: #DDDDDD;
}

#workspaces:hover,
#custom-uptime:hover,
#clock:hover,
#language:hover,
#cpu:hover,
#memory:hover,
#network:hover,
#pulseaudio:hover,
#backlight:hover,
#battery:hover,
#custom-music:hover {
  background-color: #DDDDDD;
  color: #000000;
}

#workspaces button:hover {
  background-color: #DDDDDD;
  color: #000000;
}
