* {
  border: none;
  border-radius: 0;
  min-height: 0;
  font-family: "IosevkaTermSlab Nerd Font Propo";
  /* font-family: "TX-02"; */
  font-size: 12px;
  padding: 0;
}

window#waybar {
  background: #000000;
  color: #DDDDDD;
}

tooltip {
  background-color: #000000;
}

#custom-uptime,
#clock,
#language,
#cpu,
#memory,
#network,
#pulseaudio,
#backlight,
#battery,
#custom-music {
  margin: 1px 1px 0px 0px;
  padding: 1px 1px;
}

#workspaces {
  margin: 1px 10px 0px 0px;
  padding: 1px 1px;
}
#workspaces button {
  color: #DDDDDD;
  margin: 1px 1px 0px 0px;
}


 #workspaces button.focused {
   background-color: #DDDDDD;
   color: #000000;
 }

 #workspaces button.active {
   background-color: #DDDDDD;
   color: #000000;
 }

#battery, #clock, #cpu, #pulseaudio, #memory, #language, #network, #backlight, #custom-music {
  color: #DDDDDD;
}

#network.disconnected {
  color: #DDDDDD;
}

#battery.charging {
  color: #DDDDDD;
}

#battery.warning:not(.charging) {
  color: #DDDDDD;
}

#bluetooth {
  color: #DDDDDD;
  font-size: 12px;
}

#bluetooth.on {
  color: #DDDDDD;
}

#bluetooth.connected {
  color: #DDDDDD;
}

#clock:hover,
#cpu:hover,
#network:hover,
#pulseaudio:hover {
  background-color: #DDDDDD;
  color: #000000;
}

#workspaces button:hover {
  background-color: #DDDDDD;
  color: #000000;
}
