* {
    font-family: monospace;
    font-size: 14px;
}

#window {
    background-color: #000000;
    border: 2px solid #ffffff;
    border-radius: 0px;
}

#outer-box {
    background-color: #000000;
}

#input {
    background-color: #000000;
    color: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 0px;
    padding: 8px;
    margin: 5px;
}

#scroll {
    background-color: #000000;
}

#inner-box {
    background-color: #000000;
}

#entry {
    background-color: #000000;
    color: #ffffff;
    padding: 4px;
}

#entry:selected {
    background-color: #000000;
    color: #ffffff;
    border-bottom: 2px solid #ffffff;
}

#text {
    color: inherit;
}

#img {
    margin-right: 8px;
}
